.AboutDetailScreensContainer {
    justify-content: center;
    text-align: center; 
}

.AboutDetailSceensBodyContainer {
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 20px;
}

.AboutDetailSceensBodyContainer h5 {
    margin: auto;
}

.AlignCenter {
    text-align: center;
}

.AppProfileImage {
    width: 250px;
    height: 473px;
}

.CoffeeBagsImage {
    width: 400px; 
    height: 400px;
}

.GrindSizeIcon {
    width: 225px;
    float: left;
    padding: 25px;
}

.GrindSizeImages {
    float: right;
    width: 400px;
    padding: 10px
}

@media (max-width : 800px) {
    .AboutDetailSceensBodyContainer {
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 16px;
    }

    .AppProfileImage {
        width: 125px;
        height: 236px;
    }

    .CoffeeBagsImage {
        width: 200px; 
        height: 200px;
    }

    .GrindSizeIcon {
        width: 150px;
    }

    .GrindSizeImages {
        width: 300px;
        padding-right: unset;
    }
}