.AboutDetailScreensContainer {
    justify-content: center;
    text-align: center; 
}

.AboutDetailSceensBodyContainer {
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
}

.AlignCenter {
    text-align: center;
}

.AppProfileImage {
    width: 250px;
    height: 473px;
}

.CoffeeBagsImage {
    width: 400px; 
    height: 400px;
}

@media (max-width : 800px) {
    .AboutDetailSceensBodyContainer {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .AppProfileImage {
        width: 125px;
        height: 236px;
    }

    .CoffeeBagsImage {
        width: 200px; 
        height: 200px;
    }
}