.HomeButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.HomeIconImage {
  width: 60px;
}

.HomeTextImage {
  width: 170px;
}

@media ( max-width : 600px) {
  .HomeIconImage {
    width: 40px;
  }

  .HomeTextImage {
    width: 120px;
  }
}