.HomeButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.HomeIconImage {
  width: 70px;
}

.HomeTextImage {
  width: 200px;
}

@media ( max-width : 600px) {
  .HomeTextImage {
    width: 120px;
  }

  .HomeIconImage {
    width: 50px;
  }
}