.ContactScreenContainer {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.ContactScreenTextContainer {
    padding-left: 25vw;
    padding-right: 25vw;
}

.ContactForm {
    width: 650px; 
    height: 900px;
    border: 0;
}

@media (max-width : 800px) {
    .ContactForm {
      width: 90vw;
      height: 950px;
    }

    .ContactScreenTextContainer {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

