.ContactScreenContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ContactScreenTextContainer {
    padding-left: 25vw;
    padding-right: 25vw;
}

@media (max-width : 800px) {

    .ContactScreenTextContainer {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

