.FooterContainer {
  background-color: #c9d6df;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 14px;
}

.FooterLeftContainer {
  flex: 1;
}

.FooterCenterContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FooterRightContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.FooterLogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.FooterLogoImage {
  padding-left: 10px;
  padding-right: 10px;
  color: #203530;
}

.FooterLogoImage:hover {
  color: #c1a57b;
}

.FooterCopyright {
  color: #203530;
  margin: 0;
}

.LegalLink {
  color: #203530;
  text-decoration: none;
  padding-inline: 5px;
}

.LegalLink:hover {
  color: #c1a57b;
}

@media (max-width : 1000px) {
  .FooterContainer {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .FooterLeftContainer {
    order: 1;
    text-align: center;
  }

  .FooterCenterContainer {
    order: 2;
    padding: 15px ;
  }

  .FooterRightContainer {
    order: 3;
  }
}