.AboutScreenContainer {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.AboutScreenBodyContainer {
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
}