.AboutScreenContainer {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.AboutScreenBodyContainer {
    padding-left: 15vw;
    padding-right: 15vw;
}

@media (max-width : 800px) {
    .AboutScreenBodyContainer {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}