.HomeScreenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.ScreenshotImage {
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

.HomeScreenContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.HomeScreenContentTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  padding-left: 50px;
  padding-right: 50px;
}

.HeadingCoffee {
  color: #c1a57b;
}

@media (max-width : 800px) {
  .ScreenshotImage {
    width: 70vw;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .HomeScreenContainer {
    padding-top: 25px;
  }

  .HomeScreenContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .HomeScreenContentTextContainer {
    width: 80vw;
    text-align: center;
  }
}