.router-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: #ffffff;
}

.support-link {
  color: #203530;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
}

.support-link:hover {
  color: #c9d6df;
}