.AppHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #ffffff;
  height: 75px;
  border-bottom: 1px solid black;
}

.right-link {
  color: #203530;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-link:hover {
  color: #c9d6df;
}

.AppContentContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  /* This px value is calculated using the header and footer heights and margins */
  min-height: calc(100vh - 196px);
}