.LearnScreenContainer {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.LearnScreenBodyContainer {
    padding-left: 20vw;
    padding-right: 20vw;
}

.GuidelinesContainer {
    text-align: left;
}

.GuidelinesContainer h5 {
    font-weight: normal;
    font-size: 32px;
    margin: auto;
}

.GuidelinesContainer h6 {
    margin-top: auto;
    font-size: 22px;
}

.RequestTopic {
    padding: 5vh;
}


@media (max-width : 800px) {
    .LearnScreenBodyContainer {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .GuidelinesContainer h5 {
        font-size: unset;
        font-weight: bold;
    }
    
    .GuidelinesContainer h6 {
        font-size: unset;
    }
}