.LearnContentScreensContainer {
    justify-content: center;
    text-align: center; 
    padding-left: 2vw;
    padding-right: 2vw;
}

.LearnContentSceensBodyContainer {
    text-align: left;
    padding-left: 18vw;
    padding-right: 18vw;
    font-size: 20px;
}

.LearnContentSceensBodyContainer h5 {
    margin: auto;
}

.AlignCenter {
    text-align: center;
}

.AppProfileImage {
    width: 250px;
    height: 473px;
}

.CoffeeBagsImage {
    width: 400px; 
    height: 400px;
}

.GrindSizeIcon {
    width: 225px;
    float: left;
    padding: 25px;
}

.GrindSizeImages {
    float: right;
    width: 400px;
    padding: 10px
}

.TastingNotesIcon {
    width: 400px;
    float: left;
    padding: 25px;
}

.FlavorProfileImage {
    width: 400px;
    float: right;
    padding: 25px;
}

@media (max-width : 1000px) {
    .LearnContentSceensBodyContainer {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .GrindSizeImages {
        float: unset;
    }
}

@media (max-width : 800px) {
    .LearnContentSceensBodyContainer {
        font-size: 16px;
    }

    .AppProfileImage {
        width: 125px;
        height: 236px;
    }

    .CoffeeBagsImage {
        width: 200px; 
        height: 200px;
    }

    .GrindSizeIcon {
        width: 150px;
        float: unset;
    }

    .GrindSizeImages {
        width: 300px;
    }

    .TastingNotesIcon {
        float: unset;
        padding: unset;
    }

    .FlavorProfileImage {
        float: unset;
        padding: unset;
    }
}   

@media (max-width : 600px) {
    .GrindSizeImages {
        width: 275px;
    }

    .TastingNotesIcon {
        float: unset;
        padding: unset;
        width: 300px;
    }

    .FlavorProfileImage {
        width: 300px;
        float: unset;
        padding: unset;
    }
}