.LearnContentScreensContainer {
    justify-content: center;
    text-align: center; 
    padding-left: 2vw;
    padding-right: 2vw;
}

.LearnContentSceensBodyContainer {
    text-align: left;
    padding-left: 18vw;
    padding-right: 18vw;
    font-size: 18px;
}

.LearnContentSceensBodyContainer h5 {
    margin: auto;
}

.LearnContentSceensBodyContainer h6 {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
}

.AlignCenter {
    text-align: center;
}

.AppProfileImage {
    width: 250px;
    height: 473px;
}

.CoffeeBagsImage {
    width: 400px; 
    height: 400px;
}

.Image {
    width: 500px; 
    height: 500px;
    padding: 10px
}

.BannerImage {
    width: 100%;
}

.TastingNotesIcon {
    width: 400px;
    float: left;
    padding: 25px;
}

.FlavorProfileImage {
    width: 400px;
    float: right;
    padding: 25px;
}

.AffiliateText {
    font-size: 14px;
    text-align: center;
}

.ImageText {
    font-size: 16px;
}

@media (max-width : 1000px) {
    .LearnContentSceensBodyContainer {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .LearnContentSceensBodyContainer h6 {
        font-size:  unset;
    }
}

@media (max-width : 800px) {
    .LearnContentSceensBodyContainer {
        font-size: 16px;
    }

    .AppProfileImage {
        width: 125px;
        height: 236px;
    }

    .CoffeeBagsImage {
        width: 200px; 
        height: 200px;
    }

    .Image {
        width: 400px; 
        height: 400px;
    }

    .TastingNotesIcon {
        float: unset;
        padding: unset;
    }

    .FlavorProfileImage {
        float: unset;
        padding: unset;
    }
}   

@media (max-width : 600px) {
    .TastingNotesIcon {
        float: unset;
        padding: unset;
        width: 300px;
    }

    .FlavorProfileImage {
        width: 300px;
        float: unset;
        padding: unset;
    }

    .Image {
        width: 300px; 
        height: 300px;
    }
}